<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/users.css">

<script src="https://kit.fontawesome.com/9bb0d8b750.js" crossorigin="anonymous"></script>
<script src="/js/menu.js"></script>


<h1 class="mt-4">About</h1>
<h2 class="lead mb-3">Hello there! it's Mark.</h2>
<p> i'm a junior Software Engineer, freshly Graduated from a web Developenemt Academy in Texas
    this is my Second project and it was a part of the Graduation in the Project Phase.
</p>


<% include nav %>