<header>
  <!-- <img src="../public/images/Hollw Guitar.jpg" alt=""> -->
  <div class="image-box"></div>




  <div class="menu-btn">
    <div class="menu-line"></div>
    <div class="menu-line"></div>
    <div class="menu-line"></div>
  </div>
  <nav class="menu">
    <div class="menu-branding">
      <div></div>
    </div>
    <ul class="menu-nav">
      <li class="menu-item current">
        <a href="/" class="nav-link">Song Lookup</a>
      </li>
      <li class="menu-item">
        <a href="users" class="nav-link">Users</a>
      </li>
      <% if (logged) { %>
      <!-- <li class="menu-item">
        <a href="favorites" class="nav-link">My Favorites</a>
      </li> -->
      <li class="menu-item">
        <a href="profile" class="nav-link">My Profile</a>
      </li>
      <% } %>
    </ul>
  </nav>
</header>