<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Noto+Serif&display=swap">
      
      <!-- Aladin Font -->
      <link href="https://fonts.googleapis.com/css2?family=Aladin&display=swap" rel="stylesheet">
      rel="stylesheet"
    />
    <script src="js/main.js"></script>
  </head>
  <body>
    <% include nav' %>
    <div class="home"><label class="lg-heading">Top 100</label><br /></div>
  </body>
</html>
