* {
  box-sizing: border-box;
}

body {
  background: url('../images/Guitar\ under\ water.jpg') top/cover no-repeat;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  height: 100%;
  margin-top: 0px;

}

/* two images background for i can work for a logo
 body {
  background-image: url("../images/Lyrics\ Logo.jpg")
  , url('../images/Guitar\ under\ water.jpg');
  background-repeat: no-repeat, repeat;
  background-size: 8%,100%;
  background-position: top left, top;
} */

.home-h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to left, white, orange, green, yellow, red, green, lightblue);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-style: bold;
  font-size: 5rem;
  text-align: center;
  font-family: 'Monoton', cursive;

}

label {
  /* color: #00f3dc; */
  display: block;
  font-size: 2rem;
}

.search-input {

  outline: none;
  height: 3.5rem;
  width: 50%;
  font-size: 200%;
  font-weight: 100;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  border: none;
  margin-top: 0px;
  margin-left: 25vw;

}

.menu-btn {
  position: absolute;
  z-index: 3;
  right: 70px;
  top: 50px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .menu-line {
  width: 60px;
  height: 5px;
  margin: 0 0 10px 0;
  background: #84f72e;
  transition: all 0.5s ease-out;
}

.menu-btn.show {
  transform: rotate(180deg);
}

.menu-btn.show .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(15px, 15px);
}

.menu-btn.show .menu-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.show .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background-color: rgb(62 79 80 / 90%);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  background-color: teal;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;

}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu .menu-item {
  transform: translate(600px, 0, 0);
  transition: all 0.5s ease-out;
}

.menu .menu-item.show {
  transform: translate3d(0, 0, 0);
}

.menu-nav.show {
  visibility: visible;
}

.menu .menu-item.current>a {
  color: #84f72e;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #24ffb8;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: steelblue;
}

.menu-item:nth-child(1) {
  transition-delay: 0.1s;
}

.menu-item:nth-child(2) {
  transition-delay: 0.2s;
}

.menu-item:nth-child(3) {
  transition-delay: 0.3s;
}

.searchBtn {
  padding: 20px 10 px;
}

.results {
  margin-top: 10px;
  margin-left: 20px;
}

.lyrics {
  font-family: 'Merienda One', cursive;
  font-size: 30px;
  color: #c9ff61;
  text-align: center;

}

.arrow {
  box-sizing: border-box;
  height: 3vw;
  width: 3vw;
  border: solid orangered;
  border-width: 0px 8px 8px 0px;
  transform: rotate(222.5deg);
  transition: border-width 150ms ease-in-out;
  margin-left: 50vw;

}

.arrow:hover {
  border-bottom-width: 6px;
  border-right-width: 6px;
  border-color: gold;
  cursor: pointer;
}

.arrow-container {

  visibility: hidden;

}

.up-btn {
  background-image: linear-gradient(to top left, #ff8a00, #e52e71) !important;
  color: #fff !important;
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  border: 0;
  border-radius: 8px !important;
  white-space: nowrap;
  padding: 1rem 1.5rem;
  line-height: 1.4;
  text-align: center;
  transition: .07s;
  position: relative;
  text-decoration: none !important;
  margin-left: 47.7vw;
  margin-top: auto;
}

.back-btn {
  background-image: linear-gradient(to top left, #ff8a00, #e52e71) !important;
  color: #fff !important;
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 20px;
  outline: none;
  height: 50px;
  width: 170px;
  background-color: #9bd231;
  color: black;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
  cursor: pointer;

}

.back-btn:hover {
  background: gold;
}

/* .image-box {

  background: url('../images/Lyrics\ Logo.jpg') center center no-repeat;
  background-size: 15vh;
  color: white;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */

.button {

  background-image: linear-gradient(to top left, #ff8a00, #e52e71) !important;
  color: #fff !important;
  display: inline-block;
  font-family: inherit;
  font-weight: 900;
  font-size: 1.2rem;
  border: 0;
  border-radius: 8px !important;
  white-space: nowrap;
  padding: 1rem 2.5rem;
  line-height: 1.4;
  text-align: center;
  transition: .07s;
  position: relative;
  margin-top: 30px;
  margin-left: 20px;
}

form {
  margin-left: 25px;
}


a {
  /* color: #72da25; */
  font-size: 2.5rem;

}

input {

  outline: none;
  height: 3.5rem;
  width: 30%;
  font-size: 200%;
  font-weight: 500px;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  border-color: #666567;

}

.alert-warning {
  background-image: linear-gradient(to top left, #ff8a00, #e52e71) !important;
  color: #fff !important;
}