* {
  box-sizing: border-box;
}

body {
  background: url('../images/Guitar\ under\ water.jpg') fixed no-repeat center;
  background-size: cover;
  font-family: "Noto Sans KR", sans-serif;
  line-height: 1.5;
  height: 100%;
  color: white;
  margin: 0;
}


#form {
  text-align: center;
}



.home-h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: linear-gradient(to left, white, orange, green, yellow, red, green, lightblue);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  font-style: bold;
  font-size: 5rem;
  text-align: center;
  font-family: 'Monoton', cursive;

}


label {
  font-weight: 200;
  font-size: 4rem;
}

input {

  outline: none;
  height: 4rem;
  width: 50%;
  font-size: 200%;
  padding: 0.2rem 1rem;
  border-radius: 50px;
  border: none;
  margin-top: 0px;
  font-weight: 100;

}

.back-btn {
  margin-top: 25px;
  margin-left: 20px;
  border-radius: 20px;
  outline: none;
  height: 50px;
  width: 200px;
  background-color: #9bd231;
  color: black;
  font-size: 20px;
  font-weight: bold;
  visibility: hidden;
  cursor: pointer;

}

.back-btn:hover {
  background: gold;
}


.menu-btn {
  position: absolute;
  z-index: 3;
  right: 50px;
  top: 50px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.menu-btn .menu-line {
  width: 60px;
  height: 5px;
  margin: 0 0 10px 0;
  background: #84f72e;
  transition: all 0.5s ease-out;
}

.menu-btn.show {
  transform: rotate(180deg);
}

.menu-btn.show .menu-line:nth-child(1) {
  transform: rotate(45deg) translate(15px, 15px);
}

.menu-btn.show .menu-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.show .menu-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}

.menu.show {
  visibility: visible;
}

.menu-branding,
.menu-nav {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}

.menu-nav {
  margin: 0;
  padding: 0;
  background-color: rgb(62 79 80 / 90%);
  list-style: none;
  transform: translate3d(0, -100%, 0);
  transition: all 0.5s ease-out;
}

.menu-nav.show {
  transform: translate3d(0, 0, 0);
}

.menu-branding {
  background-color: teal;
  transform: translate3d(0, 100%, 0);
  transition: all 0.5s ease-out;

}

.menu-branding.show {
  transform: translate3d(0, 0, 0);
}

.menu .menu-item {
  transform: translate(600px, 0, 0);
  transition: all 0.5s ease-out;
}

.menu .menu-item.show {
  transform: translate3d(0, 0, 0);
}

.menu-nav.show {
  visibility: visible;
}

.menu .menu-item.current>a {
  color: #84f72e;
}

.menu .nav-link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  text-transform: uppercase;
  padding: 1rem 0;
  font-weight: 300;
  color: #24ffb8;
  text-decoration: none;
  transition: all 0.5s ease-out;
}

.menu .nav-link:hover {
  color: steelblue;
}

.menu-item:nth-child(1) {
  transition-delay: 0.1s;
}

.menu-item:nth-child(2) {
  transition-delay: 0.2s;
}

.menu-item:nth-child(3) {
  transition-delay: 0.3s;
}

.searchBtn {
  padding: 20px 10 px;
}

.result {
  margin-top: 20px;
  margin-left: 20px;
}

.lyrics {

  font-family: 'Merienda One', cursive;
  font-size: 30px;
  color: #c9ff61;
  text-align: center;

}

.container {
  border: solid black;
  box-sizing: border-box;
  display: block;

}

/* .image-box {

  background: url('../images/Lyrics\ Logo.jpg') center center no-repeat;
  background-size: 15vh;
  color: white;
  min-height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
} */